<!DOCTYPE html>
<html>
<head>
<title>CRUD Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta charset="utf-8" />
 <title>Angular.js Example</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular-route.min.js"></script>
 

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
</head>
<script type="text/javascript">
var crudApp = angular.module('crudApp', []);
crudApp.factory("spaces", function($http) {
    var data = "";
    
    function getUrl(callback) {
      var url = 'http://localhost:3000/employees';
      callback(url);
    };

    function all(callback){
    	var url;
    	getUrl(function(urlback){
        	url = urlback;
        });
        //console.log("LEts see all: ", url);
        $http({
        	  url : url,
        	  method : 'GET'
    	  		}).then( function(response){
	        	  if (response.data !== null) {
	        		  //console.log("GET response.data: ", response.data);
	        		  callback(response.data);
	        	} else {
	        		  //console.log("else response.data: ", response.data);
	        		  callback({});
	        	}
    	  	});
    };

    return {
      url:getUrl,
      datas: all,
      setData: function(str) {
        data = str;
      },
      getData: function() {
        return data;
      }
    };
  });//spaces

crudApp.controller("EmployeeListCtrl", function($http, $scope, spaces) {
   $scope.all = [];
   $scope.employee= {};
   $scope.buttonText="Submit";
   $scope.url ='';
   $scope.data = ''
   spaces.url(function(u){	
    	$scope.url = u;
    	console.log("1: ", $scope.url);   	
    });
    spaces.datas(function(a){
    	$scope.employees = a;
    });
  
  $scope.saveEmployee = function() {
	 $scope.buttonText="Submit";
	  console.log("Post id: ", $scope.employee.id);
	  if ($scope.employee.id === null || $scope.employee.id === undefined || $scope.employee.id===0) {
		  $scope.employee.id= 0	;
		  $http.post($scope.url, $scope.employee).success(function(res){
	          console.log("Post res: ", res);
	          spaces.datas(function(a){
	            	$scope.employees = a;
	            });
		  });
	  } else {
		  console.log("Is update : ", $scope.employee.id);
		  $http({
	            method: "PUT",
	            url: $scope.url, // link UserLogin with HomeController 
	            data: $scope.employee
	         }).then(function (response) {
	             $scope.data  = response.data;
	             $scope.employee ={};
	             $scope.buttonText="Submit";
	             spaces.datas(function(a){
	               	$scope.employees = a;
	               });
	            
	         }, function (error) {
	        	 console.log("Failed ");
	         });
	  }
  };
  
  $scope.updateEmployeeInit = function( employee) {
	  console.log('UPDATE : ', employee);
		$scope.buttonText="Update";
		$scope.employee = employee;
	}
  
  $scope.deleteEmployee = function(employee) {
	  console.log('DELETE : ', employee);
	  $scope.employee =employee; 
	  if ($scope.employee.id == undefined || $scope.employee.id==0) {
		  console.log("delete impossible with id 0 or employee null ", $scope.employee.id);
	  }
	  $http.delete($scope.url+'/'+$scope.employee.id, $scope.employee).success(function(res){
          console.log("delete ", res);
          $scope.employee ={};
          spaces.datas(function(a){
          	$scope.employees = a;
          });
	  });
	  
	};
    
  });// EmployeeListCtrl
</script>
<script src="js/well.js"></script>
<body ng-app="crudApp" ng-controller="EmployeeListCtrl">

	

	<div class="panel panel-default">
		<div class="panel-heading">Employees</div>
		<div class="panel-body">
			<form class="col-md-4" ng-submit="saveEmployee()">
			<input type="hidden" name="id" ng-model="employee.id" />
				<div class="form-group">
					<label for="employeeName">Employee Name</label> <input type="text"
						ng-model="employee.name" class="form-control" id="employeeName"
						placeholder="Employee Name">
				</div>
				<div class="form-group">
					<label for="employeeSalary">Code</label> <input type="text"
						ng-model="employee.code" class="form-control"
						id="employeeSalary" placeholder="Salary">
				</div>

				<div class="form-group">
					<label for="employeeDepartment">Salary</label> 
					<input type="text"
						ng-model="employee.salary" class="form-control"
						id="employeeDepartment" placeholder="Department">
				</div>

				<button type="submit" class="btn btn-default">{{buttonText}}</button>
				
			</form>

			<div class="table-responsive col-md-6">
				<table class="table table-striped">
					<tr>
						<th>Name</th>
						<th>Salary</th>
						<th>Department</th>
						<th></th>
					</tr>
					<tr ng-repeat="employee in employees">
						<td>{{employee.name}}</td>
						<td>{{employee.code}}</td>
						<td>{{employee.salary}}</td>
						<td>
							<button type="button" id={{employee.id}} class="btn btn-default btnSave"
								ng-click="updateEmployeeInit(employee)">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>
							<button type="button" id={{employee.id}} class="btn btn-default btnDel"
								ng-click="deleteEmployee(employee)">
								<span class="glyphicon glyphicon-remove-circle"
									aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</body>

</html>


<script>
$(function() {
  // Handler for .ready() called.
	const init = function(){
		console.log('init in jquery');
		$('.table-responsive .btnSave').on("click", function(event){
			event.preventDefault();
			let idev= event.target.id;
			console.log( "S A V E: ",  idev );
		});
		
		$('.table-responsive .btnDel').on("click", function(event){
			event.preventDefault();
			let idev = $(this).attr("id");
			console.log( "D E L E T E: ", idev );
		});
	}
	
	init();
});

</script>